footer {
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 0;
  background-color: #265488;
  padding: 0em 1em 1.125em;
  padding-top: 35px;
  position: relative;
  padding-left: 200px;
  position: relative;
  z-index: -10;
}
footer .nav1 {
  display: inline;
  width: min-content;
}
footer .nav1 a,
.abt {
  color: whitesmoke;
  font-family: 'poppins', serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-right: 30px;
}
.line {
  background-color: #e6e6e6;
  height: 01px;
  width: 85%;
  margin-top: 20px;
}
.abou a,
.sc p,
.home a {
  display: block;
  font-family: 'poppins', serif;
  font-size: 1rem;
  color: whitesmoke;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.abt {
  margin-top: 25px;
  margin-bottom: 9px;
  font-weight: bold;
}
.abou {
  left: 370px;
  position: absolute;
  top: 80px;
}
.sc {
  position: absolute;
  top: 80px;
  left: 570px;
}
@media (max-width: 725.5px) {
  .sc {
    position: absolute;
    top: 160px;
  }
  .abou {
    top: 290px;
    left: 7%;
  }
  .sc {
    top: 450px;
    left: 7%;
  }
  .home {
    position: absolute;
  }
  footer {
    height: 700px;
    padding-left: 7%;
  }
}
.yt,
.insta {
  width: 35px;
  height: 60px;
  padding-left: 10px;
  padding-top: 20px;
}
.contact p {
  line-height: 27px;
}
