body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins', serif;
}
.header-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10%;
  z-index: 10;
}

.header-container header::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: -10;
  left: 0;
}
.header-container header img {
  width: 250px;
  padding: 20px 20px;
}

.header-container nav {
  padding: 10px 20px;
}

.header-container nav a {
  padding: 10px 10px;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 600;
  position: relative;
}
.icons {
  font-size: 40px;
  cursor: pointer;
  color: whitesmoke;
  position: absolute;
  right: 20px;
  display: none;
}
.menu-icons .close-icon {
  display: none;
  width: 58px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.menu-icons .open-icon {
  display: none;
  width: 58px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
#check {
  display: none;
}

@media (max-width: 900px) {
  .header-container header {
    padding: 20px 5%;
  }

  .header-container nav {
    position: absolute;
    right: 0;
    width: 100%;
    height: 0px;
    top: 80px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .header-container nav a {
    display: block;
    text-align: center;
    margin: 15px 0;
    z-index: -10;
  }
  #check:checked ~ nav {
    display: block;
    height: 350px;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 2 55, 0.1);
  }

  #check:checked ~ .menu-icons .open-icon {
    display: none;
  }

  #check:checked ~ .menu-icons .close-icon {
    display: block;
  }
  .menu-icons .close-icon {
    display: none;
    width: 58px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 10px;
    filter: invert(98%) sepia(2%) saturate(8%) hue-rotate(351deg)
      brightness(102%) contrast(102%);
  }

  .menu-icons .open-icon {
    display: block;
    width: 58px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 10px;
    filter: invert(98%) sepia(2%) saturate(8%) hue-rotate(351deg)
      brightness(102%) contrast(102%);
  }
}
.header-container {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)),
    url(../image/backvideo\ .webp) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .header-container nav a:hover::before,
  .header-container nav .active::before {
    content: '';
    width: 75%;
    height: 1.5px;
    background: whitesmoke;
    position: absolute;
    left: 9.5px;
    bottom: 4px;
    opacity: 1;
    transition: all 3s;
    pointer-events: none;
  }
}
